[submodule "dep/gdax-adapter"]
	path = dep/gdax-adapter
	url = https://github.com/dimitri-xyz/gdax-adapter
[submodule "dep/gdax-executor"]
	path = dep/gdax-executor
	url = https://github.com/dimitri-xyz/gdax-executor
[submodule "dep/gdax-producer"]
	path = dep/gdax-producer
	url = https://github.com/dimitri-xyz/gdax-producer
[submodule "dep/market-model"]
	path = dep/market-model
	url = https://github.com/dimitri-xyz/market-model
